Step 1: Import dan Load Data

In [1]:
import pandas as pd
from IPython.display import display, Markdown
import ipywidgets as widgets

# Load CSV
df = pd.read_csv("staff_profile_multi.csv")
df.head()

,Nama,NIP,Departemen,Jabatan,Tgl_Lahir,Usia,Tahun_2022,Tahun_2023,Tahun_2024,Skor_Asesmen,...,Jabatan_1,Periode_1,Jabatan_2,Periode_2,Jabatan_3,Periode_3,Jabatan_4,Periode_4,Jabatan_5,Periode_5
0,Subandi,197401XXXX,HCM,Deputy Digital Transformation Office 2,1992-06-17,33,98.31,95.41,97.38,98.6,...,Posisi 1 Subandi,01/01/2016 - 31/12/2017,Posisi 2 Subandi,01/01/2017 - 01/01/2019,Posisi 3 Subandi,01/01/2018 - 01/01/2020,Posisi 4 Subandi,01/01/2019 - 31/12/2020,Posisi 5 Subandi,01/01/2020 - 31/12/2021
1,Lestari,197402XXXX,IT,Manager Infrastruktur TI,1995-12-19,30,101.99,99.34,96.05,90.1,...,Posisi 1 Lestari,01/01/2016 - 31/12/2017,Posisi 2 Lestari,01/01/2017 - 01/01/2019,Posisi 3 Lestari,01/01/2018 - 01/01/2020,Posisi 4 Lestari,01/01/2019 - 31/12/2020,Posisi 5 Lestari,01/01/2020 - 31/12/2021
2,Andika,197403XXXX,Finance,Kepala Divisi Keuangan,1995-03-12,30,99.69,101.88,98.27,95.0,...,Posisi 1 Andika,01/01/2016 - 31/12/2017,Posisi 2 Andika,01/01/2017 - 01/01/2019,Posisi 3 Andika,01/01/2018 - 01/01/2020,Posisi 4 Andika,01/01/2019 - 31/12/2020,Posisi 5 Andika,01/01/2020 - 31/12/2021
3,Rina Marlina,197404XXXX,Legal,Senior Legal Officer,1993-11-29,32,102.63,103.34,98.15,96.7,...,Posisi 1 Rina Marlina,01/01/2016 - 31/12/2017,Posisi 2 Rina Marlina,01/01/2017 - 01/01/2019,Posisi 3 Rina Marlina,01/01/2018 - 01/01/2020,Posisi 4 Rina Marlina,01/01/2019 - 31/12/2020,Posisi 5 Rina Marlina,01/01/2020 - 31/12/2021
4,Budi Santoso,197405XXXX,Operations,Koordinator Operasional,1985-03-18,40,96.60,98.22,99.08,90.2,...,Posisi 1 Budi Santoso,01/01/2016 - 31/12/2017,Posisi 2 Budi Santoso,01/01/2017 - 01/01/2019,Posisi 3 Budi Santoso,01/01/2018 - 01/01/2020,Posisi 4 Budi Santoso,01/01/2019 - 31/12/2020,Posisi 5 Budi Santoso,01/01/2020 - 31/12/2021

Step 2: Dropdown Nama Pegawai

In [ ]:
# Widget pemilih nama
nama_dropdown = widgets.Dropdown(options=df["Nama"].unique(), description='Nama Pegawai:')
display(nama_dropdown)

Dropdown(description='Nama Pegawai:', options=('Subandi', 'Lestari', 'Andika', 'Rina Marlina', 'Budi Santoso')‚Ä¶

Step 3: Fungsi Tampilkan Profil

In [3]:
def tampilkan_profil(nama):
    data = df[df["Nama"] == nama].iloc[0]

    display(Markdown(f"## üìã Profil Ringkas Pegawai: **{data['Nama']}**"))
    display(Markdown(f"**NIP**: {data['NIP']}  \n"
                     f"**Departemen**: {data['Departemen']}  \n"
                     f"**Jabatan Saat Ini**: {data['Jabatan']}  \n"
                     f"**Tanggal Lahir**: {data['Tgl_Lahir']} ({data['Usia']} tahun)"))

    display(Markdown("### üìà Nilai Kinerja"))
    display(pd.DataFrame({
        "Tahun": ["2022", "2023", "2024"],
        "Nilai Kinerja": [data["Tahun_2022"], data["Tahun_2023"], data["Tahun_2024"]]
    }))

    display(Markdown("### üß† Kompetensi"))
    display(Markdown(f"- Skor Asesmen BUMN: **{data['Skor_Asesmen']}**  \n"
                     f"- Skor Multirater: **{data['Skor_Multirater']}**"))

    display(Markdown("### üéì Pendidikan & Gelar"))
    display(Markdown(f"- **Gelar**: {data['Gelar']}  \n"
                     f"- **Riwayat Pendidikan**: {data['Pendidikan']}"))

    display(Markdown("### üíº Riwayat Jabatan"))
    for i in range(1, 6):
        jab = data[f"Jabatan_{i}"]
        per = data[f"Periode_{i}"]
        display(Markdown(f"**{i}. {jab}**  \nüïí _{per}_"))

    display(Markdown("---"))

Step 4: Interaksi Nama Dropdown

In [ ]:
widgets.interact(tampilkan_profil, nama=nama_dropdown);

interactive(children=(Dropdown(description='Nama Pegawai:', options=('Subandi', 'Lestari', 'Andika', 'Rina Mar‚Ä¶

In [34]:
df_emp_skills = df_skills[df_skills['employee_id'] == employee_id]
top_skills = df_emp_skills.sort_values(by='score', ascending=False).head(3)['skill'].tolist()

Markdown(f"""
## üß† Keahlian Utama

- {', '.join(top_skills)}
""")

## üß† Keahlian Utama

- Excel, Leadership, Python

In [35]:
df_emp_training = df_training[df_training['employee_id'] == employee_id]
recent_training = df_emp_training.sort_values(by='date', ascending=False).head(3)

Markdown("## üèÖ Pelatihan Terakhir")

for _, row in recent_training.iterrows():
    display(Markdown(f"- **{row['training_name']}** ({row['date']})"))

- **Project Management** (2024-08-10)

- **Leadership 101** (2024-06-28)

- **Leadership 101** (2023-11-22)

In [36]:
def generate_cv(emp, avg_score, projects, top_skills, recent_training):
    project_list = ''.join(f"- {p}\n" for p in projects)
    training_list = ''.join(f"- **{t['training_name']}** ({t['date']})\n" for _, t in recent_training.iterrows())

    return Markdown(f"""
# üìÑ CV Kinerja Karyawan: {emp['name']}

## üë§ Identitas
- **Jabatan**: {emp['position']}
- **Divisi**: {emp['division']}
- **Tanggal Masuk**: {emp['join_date']}

## üìä Skor Kinerja
- Rata-rata Skor: {avg_score:.2f}
- Jumlah Penilaian: {len(df_emp_perf)}

## üèóÔ∏è Proyek
- Total Proyek: {len(projects)}
{project_list}

## üß† Keahlian Unggulan
- {', '.join(top_skills)}

## üèÖ Pelatihan Terbaru
{training_list}
""")

generate_cv(emp, avg_score, projects, top_skills, recent_training)

# üìÑ CV Kinerja Karyawan: Norma Fisher

## üë§ Identitas
- **Jabatan**: HR Specialist
- **Divisi**: Operations
- **Tanggal Masuk**: 2021-08-09

## üìä Skor Kinerja
- Rata-rata Skor: 3.88
- Jumlah Penilaian: 6

## üèóÔ∏è Proyek
- Total Proyek: 6
- Drive Wireless Web Services
- Implement Rich Supply-Chains
- Drive World-Class Partnerships
- Redefine Magnetic Action-Items
- Orchestrate Customized Infrastructures
- Harness Holistic Platforms


## üß† Keahlian Unggulan
- Excel, Leadership, Python

## üèÖ Pelatihan Terbaru
- **Project Management** (2024-08-10)
- **Leadership 101** (2024-06-28)
- **Leadership 101** (2023-11-22)

In [37]:
from jupyter_dash import JupyterDash
from dash import Dash, dcc, html, Input, Output
import dash_bootstrap_components as dbc
import pandas as pd
import plotly.express as px

# Load data CSV
df_employee = pd.read_csv('employee.csv')
df_performance = pd.read_csv('performance_logs.csv')
df_training = pd.read_csv('training_records.csv')
df_skills = pd.read_csv('skills_matrix.csv')

# Build app
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.FLATLY])

app.layout = dbc.Container([
    html.H1("üìÑ Dashboard CV Kinerja Karyawan", className="my-4"),

    dcc.Dropdown(
        id='employee-select',
        options=[{'label': row['name'], 'value': row['employee_id']} for _, row in df_employee.iterrows()],
        value=df_employee.iloc[0]['employee_id'],
        className="mb-4"
    ),

    dbc.Row([
        dbc.Col(dbc.Card(id='card-identity', body=True, color="light"), md=6),
        dbc.Col(dbc.Card(id='card-score', body=True, color="primary", inverse=True), md=6),
    ], className="mb-4"),

    dbc.Row([
        dbc.Col(dcc.Graph(id='score-trend'), md=8),
        dbc.Col([
            html.H5("üß† Keahlian Utama"),
            html.Ul(id='skill-list')
        ], md=4)
    ]),

    dbc.Row([
        dbc.Col([
            html.H5("üìã Proyek Terakhir"),
            html.Div(id='project-table')
        ], md=6),

        dbc.Col([
            html.H5("üèÖ Pelatihan Terakhir"),
            html.Div(id='training-table')
        ], md=6),
    ])
], fluid=True)

c:\Users\widar\AppData\Local\Programs\Python\Python313\Lib\site-packages\dash\dash.py:634: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

In [42]:
app.layout = dbc.Container([
    html.H1("Tes Layout - Dashboard CV Karyawan"),
    html.P("Jika kamu bisa lihat ini, layout aman."),
], fluid=True)

In [43]:
from dash import Dash
app = Dash(__name__, external_stylesheets=[dbc.themes.FLATLY])

In [44]:
app.run(debug=True, use_reloader=False)

---------------------------------------------------------------------------
NoLayoutException                         Traceback (most recent call last)
NoLayoutException: The layout was `None` at the time that `run` was called.
Make sure to set the `layout` attribute of your application
before running the server.